<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Manage Database</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/manage" routerLinkActive="active">Manage</a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <a class="nav-link" *ngIf="!_api.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="nav-link" *ngIf="!_api.loggedIn()" routerLink="/register" routerLinkActive="active">Register</a>
        <a class="nav-link" *ngIf="_api.loggedIn()" style="cursor: pointer;" (click)="_api.logOut()">Logout</a>              
    </ul>
  </div>
</nav>    
<div class="container">
  <router-outlet></router-outlet>            
</div>